<mat-card id="gameCreationContainer">

  <h1>New game</h1>

  <form [formGroup]="createGameForm" (ngSubmit)="onCreateGame()" class="form-container">

    <!--type-->
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Gamename" required>
      <mat-error *ngIf="game().title.invalid">Please fill in a name for your new game</mat-error>
    </mat-form-field>

    <!--players-->
    <div id="playerSelectionContainer">
      <!-- loop over amount of players and store their types -->
      <div *ngFor="let i of [0, 1, 2]">

        <mat-form-field required>
          <!--saves playertype and checks for friend or previous-->
          <mat-select [placeholder]="'Opponent '+(i+1)" formControlName="playertype{{i}}" [(value)]=players[i].playerType>
            <mat-option *ngFor="let pt of playerTypes" [value]=pt>{{pt}}</mat-option>
          </mat-select>

          <mat-error *ngIf="isOpponentTypeSlotEmpty(i)">Select opponent type
          </mat-error>
        </mat-form-field>

        <!--not required when choosing random or bot player-->
        <mat-form-field *ngIf="players[i].playerType === 'Friend' && friendsObservable | async">
          <mat-select [placeholder]="'Username'" formControlName="chosenOpponent{{i}}"
                      (ngModelChange)="onOpponentSelect($event)"
                      [(value)]="players[i].selectedFriend">
            <mat-option *ngFor="let f of friends" [value]=f>{{f}}</mat-option>
          </mat-select>

          <mat-error *ngIf="isOpponentSlotEmpty(i)">Please select your opponent</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="players[i].playerType  === 'Previous'  && previousObservable | async">
          <mat-select formControlName="chosenOpponent{{i}}"
                      (ngModelChange)="onOpponentSelect($event)"
                      [(value)]="players[i].selectedFriend">
            <!--passes chosen option trough value to [(value)] wich passes it to players[i].selectedFriend-->
            <mat-option *ngFor="let p of previous" [value]=p>{{p}}</mat-option>
          </mat-select>

          <mat-error *ngIf="isOpponentSlotEmpty(i)">Please select your opponent</mat-error>
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button type="submit" [disabled]="game().invalid" class="btn btn-primary">Create Game</button>
  </form>
</mat-card>
