<section id="boardContainer">
  <section class="rows" *ngFor="let r of cells; let y = index ">
    <!--{{'y' + y}}-->
    <section class="column" *ngFor="let c of cells[y]; let x = index ">
      <!--{{'x' + x}}-->
      <div class="square"
           (dragleave)="onDragLeave($event)"
           (dragover)="draggedOver($event)"
           (drop)="drop($event, y, x)"
           [id]="boardService.getCellId(c.x, c.y)"
           [ngStyle]="boardService.getStyle(c.x, c.y)">
        <img class="tile" *ngIf="c.char != '_'" [src]=tileUrls[c.char] [alt]=c.char>
      </div>
    </section>
  </section>
</section>
