<mat-card id="replaysContainer">

  <h1>Replays</h1>

  <mat-card class="games" *ngFor="let game of games">
    <!-- general info -->
    <mat-card-header>
      <img mat-card-avatar [src]=game.creator.avatarBlob alt="">
      <mat-card-title>{{game.title}}</mat-card-title>
      <mat-card-subtitle>
        Created by {{game.creator.username}} | Turns: {{game.turns}}
      </mat-card-subtitle>
    </mat-card-header>

    <!--player data-->
    <mat-card-content>
      <!--if index of player matches currentlyplaying-->
      <div [matTooltip]=p.username [matTooltipPosition]="'above'" *ngFor="let p of game.players; let i = index">
        <img mat-card-avatar [src]=p.avatarBlob alt="">
      </div>
    </mat-card-content>

    <!--what we can do with the replay element-->
    <mat-card-actions>
      <button mat-raised-button (click)=onSelectReplayGame(game.id)>Watch</button>
    </mat-card-actions>


  </mat-card>

  <div class="noReplays" *ngIf="games.length == 0">
    <h1>No replays found for user</h1>
  </div>

</mat-card>



