#replaysContainer {
  //margin-top: 3rem;
  background-color: #ffeba5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  //max-width: 715px;
  margin: 3rem auto;


  .noReplays {
    height: 400px;
    border: dashed 5px gray;
    display: flex;
    justify-content: center;
    align-content: center;
    //width: 100%;

    h1 {
      margin: 2rem;
      color: gray;
    }
  }

  .games {
    background-color: rgba(246, 209, 85, 0.92);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 1rem;

    mat-card-header {
      display: flex;
      justify-content: flex-start;
    }

    mat-card-content {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
    }

    mat-card-content, mat-card-header {
      .mat-card-avatar {
        //background-color: rosybrown;
        width: 3rem;
        height: 3rem;
        border: gray 3px solid;
      }
    }

    mat-card-actions {
      display: flex;
      justify-content: center;

      button {
        font-size: larger;
        background-color: rgba(255, 255, 255, 0.45);
        width: 100%;      }
    }

  }
}
