<div id="notificationContainer">
  <button [matMenuTriggerFor]="notifMenu"
          id="notificationButton"
          mat-icon-button
          [disabled]="(notifsSubject | async).length == 0">
    <mat-icon >notifications</mat-icon>
    <span
      [matBadge]="(notifsSubject | async).length > 0 ? (notifsSubject | async).length : ''"
      [matBadgeColor]="'warn'"></span>
  </button>

  <mat-menu #notifMenu="matMenu" id="notificationDropDown" [yPosition]="'below'" [xPosition]="'before'">

    <button id="clearButton" mat-raised-button (click)="deleteAllNotifications()">Clear</button>

    <mat-card
      (click)="n.notifTitle.toLowerCase().includes('message') || n.notifTitle.toLowerCase().includes('turn') ? navigateToGame(n) : null"
      class="notification" *ngFor="let n of (notifsSubject | async)">
      <mat-card-header>
        <div mat-card-avatar class="icon"
             *ngIf="n.notifTitle.toLowerCase().includes('invitation')
             || n.notifTitle.toLowerCase().includes('turn')">
          <mat-icon color="primary" [inline]="true">border_outer</mat-icon>
        </div>

        <div mat-card-avatar class="icon" *ngIf="n.notifTitle.toLowerCase().includes('message')">
          <mat-icon color="primary" [inline]="true">chat</mat-icon>
        </div>

        <div mat-card-avatar class="icon" *ngIf="n.notifTitle.toLowerCase().includes('game over')">
          <mat-icon color="primary" [inline]="true">flag</mat-icon>
        </div>

        <mat-card-title class="notifTitle">{{n.notifTitle}}</mat-card-title>
        <mat-card-subtitle class="notifDate">{{n.date | date: 'dd/MM/yyyy HH:mm'}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="notifContent">
        <!--guiding text about notif-->
        <div>{{n.content}}</div>

        <!--invitation notifications-->
        <mat-card-actions *ngIf="n.notifTitle.toLowerCase() == 'game invitation'">
          <button mat-icon-button color="primary" (click)="sendInvitationAnswer(n, true)">
            <mat-icon>done</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="sendInvitationAnswer(n, false)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card-actions>

      </mat-card-content>
    </mat-card>
  </mat-menu>
</div>
