<mat-card id="registerContainer">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="form-container">
    <!--validation fields-->
    <mat-form-field>
      <input matInput formControlName="username" placeholder="Username" required>
      <mat-error *ngIf="form.username.invalid">Dont forget to enter your username</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email" required >
      <mat-error *ngIf="form.username.invalid">Dont forget to enter your email address</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="password" placeholder="Password" required type="password">
      <mat-error *ngIf="form.password.invalid">Dont forget to enter a password</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="loading" class="btn btn-primary">Register</button>

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>
</mat-card>

