#friendsContainer {
  background-color: #ffeba5;
  margin-top: 3rem;
  margin-bottom: 2rem;


  .statusCodeErrors {
    display: flex;
    justify-content: center;
    font: 2rem "Quicksand";
  }

  form {
    display: flex;
    flex-direction: column;

    mat-form-field {
      width: 100%;
      margin-bottom: 0.3rem;
    }

    button {
      background-color: rgba(255, 255, 255, 0.45);
    }
  }
}

#friendOverview {
  background-color: #ffeba5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  .friends {
    border: darkgray 2px solid;
    display: inline-flex;
    flex-direction: row;
    margin-right: 1rem;
    margin-bottom: 1rem;

    #friendInfo {
      display: flex;
      flex-direction: row;
      font: 2rem Quicksand;

      img {
        margin-right: 1rem;
      }
    }
  }

  #noFriendsPlaceholder {

    height: 400px;
    border: dashed 5px gray;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;

    h1 {
      margin: 3rem;
      color: gray;
    }
  }
}
