@import "~@angular/material/theming";

#replayDetailContainer {
  display: flex;
  flex-direction: row;
  margin: 4rem auto;
  justify-content: center;


  #controlsContainer, #letterRackContainer, #boardContainer {
    //background-color: rgba(246, 209, 85, 0.92);
    background-color: #ffeba5;
    border: 1px solid lightgray;

    //background-color: rgba(246, 246, 246, 0.74);
    //background-color: rgba(255, 222, 173, 0.54);
  }

  #controlAndRackContainer {
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    #controlsContainer {
      width: 100%;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;

      #replayInfo {
        display: flex;
        flex-direction: column;
        align-content: space-evenly;

        h2, h1 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 0.5rem;
        }
      }

      #controlButtons {
        justify-content: center;
        display: flex;
        flex-direction: row;

        button {
          border: 2px solid black;

          background-color: rgba(246, 209, 85, 0.92);
          height: 5rem;
          width: 5rem;
          margin-right: 0.7rem;
          margin-bottom: 0.7rem;

          i {
            font-size: 2rem;
          }
        }
      }

      #controlSlider {
        justify-content: center;
        display: flex;
        // always shows thumb with number of seconds
        ::ng-deep {
          .mat-slider-thumb-label {
            transform: rotate(45deg) !important;
            border-radius: 50% 50% 0 !important;
          }

          .mat-slider-thumb {
            transform: scale(0) !important;
          }

          .mat-slider-thumb-label-text {
            opacity: 1 !important;
          }
        }

        mat-slider {
          margin-top: 2rem;
          margin-bottom: 0;
          width: 20%;
          min-width: 200px;
        }
      }
    }


    #letterRackContainer {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .letterRackHidden {
        height: 250px;
        border: dashed 5px gray;
        display: flex;
        justify-content: center;
        align-content: center;

        h1 {
          color: gray;
          font-size: 3rem;
          margin: 1rem;
          font-family: "Quicksand", monospace;
        }
      }

      #showLetterRack {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .opponentAvatar {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 1rem;
        }

        #turnScore {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-left: 0.5em;
          color: forestgreen;
          font-size: 2rem;
          font-family: Quicksand, serif;
        }

        .opponentRack {
          display: flex;
          justify-content: center;

          .letterContainer {
            display: flex;
            flex-direction: row;

            .letter {
              width: 45px;
              height: 45px;
            }
          }
        }
      }
    }
  }

  #boardContainer {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;

    .rows {
      display: flex;
      justify-content: center;

      .square {
        width: 45px;
        height: 45px;
        border: solid 1.5px black;
        background-color: white;

        img {
          width: 45px;
          height: 45px;
        }
      }
    }
  }

}
