#chatContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 715px;

  mat-expansion-panel-header {
    display: flex;
    flex-direction: row;

    mat-panel-title {
      font-weight: bolder;
      font-size: 1.5rem;
    }

    mat-panel-description {
      .playerScores {
        font-size: 1.5rem;
      }
    }

    mat-panel-description, mat-panel-title {
      margin-top: 1rem;
    }

    background-color: rgba(255, 214, 98, 0.82);
    // playerscore
    .players {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
    }
  }

  #chatContentContainer {
    background-color: rgba(255, 203, 105, 0.19);
    margin-top: 1.5rem;

    #chatContent {
      word-wrap: break-word; // breaks word if its too long
      height: 175px;
      overflow-x: hidden;
    }
  }

  #sendContainer {
    display: flex;
    width: 100%;

    #sendMessageInput {
      margin-top: 1rem;
      justify-content: center;
      width: 100%;
    }
  }
}
