<mat-expansion-panel id="chatContainer">
  <mat-expansion-panel-header [collapsedHeight]="'5rem'">

    <mat-panel-title>{{game.title}}</mat-panel-title>

    <mat-panel-description *ngFor="let s of scores" class="players">
      <div class="playerScores"
           [matBadge]="game.players[currentlyPlaying].username === s.username ? 'T' : ''"
       [matBadgePosition]="'before'">
        <span>{{s.username}}: {{s.score + s.score || 0}}</span>
      </div>
    </mat-panel-description>

  </mat-expansion-panel-header>

  <mat-card id="chatContentContainer">
    <!--keeps scrollbar down on each new message-->
    <div id="chatContent" #messagelist [scrollTop]="messagelist.scrollHeight">
      <div *ngFor="let m of chatSubject | async">{{m.username}} : {{m.message}}</div>
    </div>
  </mat-card>

  <div id="sendContainer">
    <mat-form-field id="sendMessageInput" (keyup.enter)="sendMessage(username, messageContentToSend)">
      <input matInput placeholder="Press enter to send..." [(ngModel)]="messageContentToSend">
    </mat-form-field>
  </div>

</mat-expansion-panel>
