<mat-card>
  <h1>Statistics</h1>

  <section id="statisticsContainer">
    <div class="statisticContainer">
      <h2>Games played</h2>
      <div class="statistic">{{statistic.gamesPlayed}}</div>
    </div>

    <div class="statisticContainer">
      <h2>Games won</h2>
      <div class="statistic">{{statistic.gamesWon}}</div>
    </div>

    <div class="statisticContainer">
      <h2>Average score per turn</h2>
      <div class="statistic">{{statistic.avgScore}}</div>
    </div>

    <div class="statisticContainer">
      <h2>Highest score per turn</h2>
      <div class="statistic">{{statistic.maxScore}}</div>
    </div>
  </section>
</mat-card>
