#loginContainer {
  margin-top: 10rem;

  .form-container , h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .form-container > * {
    width: 50%;
  }

  hr {
    color: yellow;
  }
}

#registerContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

  button {
    width: 50%;
  }
}

#fbButton {
  margin-top: 20px;
  min-height: 40px;
  min-width: 150px;
  border: solid 1px black;
  background-color: #3b5998;

  img {
    max-height: 40px;
    max-width: 75px;
  }
}

#googleButton {
  margin-top: 20px;
  margin-left: 50px;
  min-height: 40px;
  min-width: 150px;
  border: solid 1px black;
  background-color: #d62d20;

  img {
    max-height: 40px;
    max-width: 75px;
  }
}
