<mat-card id="loginContainer">
  <h2>Login</h2>

  <!--fields-->
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-container">

    <!--userNotActivatedError-->
    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email" required>
      <mat-error *ngIf="form.email.invalid">{{getMailErrors()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="password" placeholder="Password" required type="password">
      <mat-error *ngIf="form.password.invalid">{{getPassErrors()}}</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="loading" class="btn btn-primary">Login</button>
  </form>
</mat-card>

<mat-card id="registerContainer">
  <p>Don't have an account? Register here</p>
  <button mat-raised-button routerLink="/register">Sign up</button>
</mat-card>


<!-- todo: fix social media login-->
<!--<button id="fbButton" (click)="facebookLogin()" mat-raised-button>-->
  <!--<img-->
    <!--src="http://static1.squarespace.com/static/52a223c1e4b0d93290b8152e/t/52d70859e4b0a6a1dc283ed6/1389824090531/facebook-logo.png"-->
    <!--alt="Facebook logo">-->
<!--</button>-->

<!--<button id="googleButton" (click)="googleLogin()" mat-raised-button>-->
  <!--<img src="https://mbtskoudsalg.com/images/google-g-logo-png-4.png" alt="Google logo">-->
<!--</button>-->
