#overviewContainer {
  background-color: #ffeba5;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  .overviewGamesCollection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .gameCollection {
      width: 100%;

      .gameContainer {
        .game {
          background-color: rgba(246, 209, 85, 0.92);
          display: flex;
          justify-content: center;
          margin-bottom: 1rem;
          flex-direction: column;

          .mat-card-header {
            .mat-card-avatar {
              width: 3rem;
              height: 3rem;
              border: gray 3px solid;
            }

            display: inline-flex;
            flex-direction: row;
          }

          .mat-card-content {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .mat-card-avatar {
              width: 3rem;
              height: 3rem;

              border: gray 3px solid;
            }
          }

          .mat-card-actions {
            display: flex;
            flex-direction: row;

            button {
              font-size: larger;
              background-color: rgba(255, 255, 255, 0.45);
              width: 100%;
            }
          }
        }
      }
    }
  }

  .noGames {
    display: flex;
  }
}

@media (min-width: 1000px) {
  #overviewContainer {
    max-width: 100%;
    flex-direction: column;

    .overviewGamesCollection {
      width: 100%;
      display: flex;
      flex-direction: row;

      .gameCollection {
        margin-left: 1rem;

        .gameContainer {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
      }

      .noGames {
        display: flex;
      }
    }
  }
}
