/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  // gradient
  background: #FFEFBA; /* fallback for old browsers */
  //background: linear-gradient( #FFFFFF, #fff8ac); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(#FFFFFF, #ffd662); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // no repeat n stuff
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

app-root {
  font-family: recorda, Helvetica, sans-serif;
  display: grid;
  //grid-gap: 1rem;
  grid-template-columns: 100%;
  grid-template-rows: 80px 80px auto 20px;
  grid-template-areas: "top top top" "middle middle middle" "bottom bottom bottom";
}

@media (min-width: 1000px) {
  app-root {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 80px minmax(600px, 1fr) auto;
    grid-template-areas: "top top top" "middleLeft middle middleRight" "bottom bottom bottom";
  }
}

mat-card{
  border: 1px solid lightgray;
}

h1,h2{
  display: flex;
  justify-content: center;
}

// tooltip used in overview and replays
.mat-tooltip {
  font-size: 30px;
  height: 40px;
}

// mat - slider layout
.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px;
  border-radius: 10px
}

.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #3b5998;
}

.mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30.0px;
  background-color: white;
  border: solid 2px gray;
  bottom: -20px;
  right: -20px;
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: white;
}

