<div id="greeting" *ngIf="desktop">
  <div class="textGreeting"><h1>Welcome to</h1></div>
  <div class="letterContainer">
    <span class="scrabbleLetters" *ngFor="let sl of scrabbleLetters"><img [src]="sl"/></span>
  </div>
</div>

<div class="mainPageContainer">
  <app-overview></app-overview>
</div>

<div class="mainPageContainer">
  <app-statistics></app-statistics>
</div>
