#greeting {
  width: 100%;
  min-height: 200px;
  margin-top: 5rem;
  margin-bottom: 3rem;

  .textGreeting {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    h1 {
      margin: 1rem;
      font: 2.5rem FoxCat, monospace;
    }
  }

  .letterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

    .scrabbleLetters {
      img {
        margin: 0.3rem;
        height: 5em;
        width: 5em;
      }
    }
  }
}

.mainPageContainer {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

