
.gameContainer {
  background-color: #ffeba5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 715px;
  margin: 2rem auto;

  #error, #winner {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    background-color: rgba(255, 214, 98, 0.82);
  }

  #error {
    color: red;
  }

  app-chat {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  app-board {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
  }

  #letterRackContainer {
    display: flex;
    height: 50px;
    background-color: rgba(255, 214, 98, 0.97);
    margin-top: 1rem;
    justify-content: space-between;

    #letterRack {
      display: flex;

      .tile {
        width: 45px;
        height: 45px;
        margin: 5px;
        //z-index: 3;
        cursor: pointer;

        &:active {
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
          0 8px 10px 1px rgba(0, 0, 0, 0.14),
          0 3px 14px 2px rgba(0, 0, 0, 0.12);
        }
      }
    }

    #rackControls {
      display: flex;
      justify-content: flex-end;

      #clearButton {
        margin-left: 1rem;
        height: 55px;
        font-size: 2rem;
        font-family: "Quicksand", serif;

        i {
          font-size: 3rem;
        }
      }

      #confirmButton {
        width: 8rem;
        background-color: #aae5e2;
        height: 55px;
        font-family: "Quicksand", serif;

        i {
          font-size: 2rem;
        }
      }
    }
  }

}



